@import url('https://fonts.googleapis.com/css?family=Roboto:200');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #4A4A4A;
  background-color: #FAFAFA;
  margin: 0 auto;;
  padding: 10px;
  max-width: 420px;
}

body,
.weui-input,
.weui-cells {
  font-size: 14px;
}
