<!DOCTYPE html>
<html>
  <head>
    <title><%= pagetitle %></title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="https://media.giphy.com/media/3ohzdGnD5vAud1NCZW/giphy.gif">
    <meta property="og:type" content="video.other">
  </head>
  <body>
    <script src="/bundle.js"></script>
    <div id="content"></div>
    <script>
    <% if (demo) { %>
      // Use a random demo ID when viewing locally.
      var userId = Math.floor(Math.random() * 4) + 1;
      console.log("UserId:"+userId+' '+<%= gameId %>);
      window.attachApp(userId, <%= gameId %>);
    <% } else { %>
      window.extAsyncInit = function() {

        MessengerExtensions.getContext(
          '139048486779845',
          function success(context) {
            var permissions = [];
            MessengerExtensions.getGrantedPermissions(function (permissions_response) {
              var permission = permissions_response.permissions // list of permissions granted
              if(permission.indexOf('user_profile')<0){
                MessengerExtensions.askPermission(
                  function(permission_response) { 
                    window.location.reload();
                  }, 
                  function(errorCode, errorMessage) { 
                    window.location.reload();
                  },
                  "user_profile"
                );
              } else {
                if(permission.indexOf('user_messaging')<0){
                  MessengerExtensions.askPermission(
                    function(permission_response) {
                      window.location.reload();
                    }, 
                    function(errorCode, errorMessage) { 
                      window.location.reload();
                    },
                    "user_messaging"
                  );
                } else {
                  window.attachApp(
                          context.psid,
                          <%= gameId %>,
                          context.thread_type);
                }
              } 
                  
            }, function() {
              // An error occurred
            });
          }, function error(err) {
            window.attachApp();
          });
      };
    <% } %>
      
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'Messenger'));
    </script>

  </body>
</html>
