.Hand {
    height: auto;
    display: inline-block;
    align-items:center;
    justify-content:center;
}
img{
    width: 100%;
    vertical-align: middle;
}

img.active {
   transition-duration: 1s;
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
}