.App {
  text-align: center;
}


.selected {
  width: 70%;
  margin: 0 auto;
}

.circle {
  align-items:center;
  justify-content:center;
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 5px;
  background: #F2F1EF;
  border: 3px solid #EC644B;
}

.circle > .Hand {
  padding:10px;
}

.circle > .Hand.active {
  -webkit-animation: slideFromtop 0.4s ease;
  animation: slideFromtop 0.4s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.selection > p{
  font-size: 20px;
}

.selected > p{
  font-size: 15px;
}

.selection > .weui-flex > .Hand{
  margin: 15px;
  -webkit-animation: grow 0.5s ease;
  animation: grow 0.5s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.selection.fold-down{
  -webkit-animation: fold-down 1s ease;
  animation: fold-down 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.selection.fold-down > *{
  opacity: 0;
}

@keyframes grow
{
    0%
    {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    80%
    {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    100%
    {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
}

@keyframes bubble-anim {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%, 100% {
    transform: scale(1);
  }
}

@keyframes slideFromtop  {
  0%{
      opacity:1;
      -webkit-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%) scale(0.5);
  }
  97%{
    -webkit-transform: translateY(-5%);
    -o-transform: translateY(-5%);
    transform: translateY(-5%)  scale(1.03);
  }
  100%{
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px)  scale(1);
  }
}

@keyframes fold-down {
  0% {
    height:100px;
  }
  100% {
    height:0px;
  }
}