.Result{
    height: 50vh;
    text-align: unset;
    max-width:420px;
}

.topPlayer {
    top: 10px;
    left: 10px;
    position: fixed;
}

.topPlayer > div{
    display: inline-block
}

.bottomPlayer {
    bottom: 10px;
    right: 10px;
    position: fixed;
}
.bottomPlayer > div{
    display: inline-block
}

.clashArea{
    height:100%;
}
.clashArea > .result-div{
    padding-top:16vh;
    font-size: 15px;
}

.clashArea > .result-div > img{
    display: none;
}

.clashArea > .result-div > img.show{
    display: block;
}


.myHand{
    width: 25vh;
    bottom: 20vh;
    right: 20vw;
    position: absolute;
}

.otherHand{
    width: 25vh;
    top: 20vh;
    left: 20vw;
    position: absolute;
    transform: rotate(180deg);
}

.clashArea > .otherHand >.Hand.active {
    -webkit-animation: rollFromLeft 0.2s;
    animation: rollFromLeft 0.2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


.clashArea > .myHand >.Hand.active {
    -webkit-animation: rollFromRight 0.2s;
    animation: rollFromRight 0.2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}




.result-circle {
    align-items:center;
    justify-content:center;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 3px;
    background: #F2F1EF;
  }

  .otherhands > .result-circle > .Hand.active {
    -webkit-animation: slideFrombottom 0.4s ease;
    animation: slideFrombottom 0.4s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  .myhands > .result-circle > .Hand.active {
    -webkit-animation: slideFromtop 0.6s ease;
    animation: slideFromtop 0.6s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
    

.lose{
    border: 1px solid #EC644B;
    transition: border 1s ease-out;
}
.win {
    border: 1px solid rgb(100, 202, 83);
    transition: border 1s ease-out;
}

.result-circle > .Hand {
    padding: 2px;
}

@keyframes slideFrombottom  {
    0%{
        opacity:1;
        -webkit-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    97%{
      -webkit-transform: translateY(-15%);
      -o-transform: translateY(-15%);
      transform: translateY(-15%);
    }
    100%{
      -webkit-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  
@keyframes slideFromtop  {
    0%{
        opacity:1;
        -webkit-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    97%{
      -webkit-transform: translateY(15%);
      -o-transform: translateY(15%);
      transform: translateY(15%)  scale(1.1);
    }
    100%{
      -webkit-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  

  
  @keyframes rollFromLeft  {
    0%{
        opacity:1;
        -webkit-transform: translateX(100%) translateY(150%);
        transform: translateX(100%)  translateY(150%) rotate(180deg);
    }
    97%{
      -webkit-transform: translateX(-10px) translateY(-10px);
      transform: translateX(-10px) translateY(-10px) rotate(370deg);
    }
    100%{
      -webkit-transform: translateX(0px) translateY(0px);
      transform: translateX(0px) translateY(0px) rotate(360deg);
    }
  }
  
  
@keyframes rollFromRight  {
    0%{
        opacity:1;
        -webkit-transform: translateX(100%) translateY(150%);
        transform: translateX(100%)  translateY(150%) rotate(180deg);
    }
    97%{
      -webkit-transform: translateX(-10px) translateY(-10px);
      transform: translateX(-10px) translateY(-10px) rotate(370deg);
    }
    100%{
      -webkit-transform: translateX(0px) translateY(0px);
      transform: translateX(0px) translateY(0px) rotate(360deg);
    }
  }
  